* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);

}

.main {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.text-center {

    margin-top: 1rem;
    color: #ffff;
}

.container {
    background: rgb(255, 255, 255);

    margin: auto;
    text-align: center;
    margin-top: 5rem;
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0);
    background: rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

.container .row button {
    margin: 10px;
    padding: 15px;
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0, .2);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 30px;
}

.container .row button:hover {
    background: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}

.button {
    width: 4rem;
    height: 5rem;
}

.new {
    font-size: px;
}

.equl {
    width: 8rem;
    margin-left: 6rem;
}

.input {
    margin: 10px;
    padding: 10px;

    background: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    font-size: 25px;
    height: 4rem;
    outline: none;
    border-radius: 1rem;
}